/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&display=swap");

/* GENERAL */

.application {
  font-family: "Poppins", sans-serif;
  /* font-family: "Kumbh Sans", sans-serif; */
  padding: 1.5em 2em;
  background-repeat: repeat;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

/* NAVIGATION DRAWER */

.list-item {
  height: 75px;
}

.list-item-icon-top {
  padding: 10px 0;
}

.list-item-icon {
  padding: 30px 0;
}

/* ABOUT */

.card-title-size {
  font-size: 0.7em;
}

.text-black {
  color: black;
}

.text-black h1 {
  font-size: 5em;
}

.text-black h3 {
  font-size: 1.2em;
  font-family: "Kumbh Sans", sans-serif;
}

/* ORDER */

.container-inside {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}

.toolbar-title {
  font-family: "Poppins", sans-serif;
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PAYMENT */
.container-ticket {
  background-color: white;
  padding: 20px;
  font-family: Courier, sans-serif;
  border: 1px solid black;
  height: 100%;
  border-radius: 10px;
}

.header-ticket {
  text-align: center;
}

.content-ticket {
  text-align: center;
}

.footer-ticket {
  text-align: center;
}

/* FOOD */

.v-data-table.food_table span {
  color: black;
}

.v-data-table.food_table tbody {
  background-color: #fbfaf1;
}

.v-data-table.food_table .v-data-table-header,
.v-data-table.food_table .v-data-footer {
  background-color: #f5f5f5;
}

/*meseros*/

.hgcontenedor {
  display: flex !important;
  flex-direction: row;
}

.hgbold {
  font-weight: bold !important;
}
.hgcursor {
  cursor: pointer !important;
}
.hgcentrado {
  justify-content: center !important;
  align-items: center !important;
}
